body {
    background-color: #d9d9db;
    height: 100%;
    margin: 0;
    text-align: center;
}

table {
    border-collapse: collapse;
}

tr:hover {
    background-color: #f5f5f5;
}

tr th, tr td {
    width: 15ch;
    text-align: left;
    border: 1px solid var(--td-border-level-2-color);
    padding: 5px 3px 5px 3px;
}

.main {
    width: 80%;
    position: relative;
    margin: 3ch 0 0 0;
    padding: 5ch 0 5ch 0;
    display: inline-block;
    background-color: #ffffff;
}

.input-box {
    width: 100%;
    display: table;
    margin: 0 auto;
}

.content-box {
    display: table;
    margin: 0 auto;
}

.common-input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-width: 1px;
    border-style: solid;
    border-radius: var(--td-radius-default);
    border-color: var(--td-border-level-2-color);
    outline: none;
    padding: 0;
    margin: 5px 2px 5px 2px;
    width: 30%;
    height: 3ch;
    color: var(--td-text-color-primary);
    font: inherit;
    background-color: transparent;
    box-sizing: border-box;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

.common-input:hover {
    border-color: var(--td-brand-color);
}

.common-button {
    color: #ffffff;
    background-color: #2ba471;
    border: none;
    padding: 1px 15px 1px 15px;
    cursor: pointer;
    border-radius: 25px 5px;
    box-shadow: 1px 1px 5px #888888;
    font: var(--td-font-body-medium);
    margin: 0 2px 0 2px;
}