.verify_box{border:1px solid #ccc;position:relative;background:#eee;}
.verify_forward_box{position:absolute;width:100%;height:100%;z-index: 1}
.verify_drag_box{height:100%;background:#fff;color:#333;text-align: center;cursor:pointer;position:absolute;z-index: 2}
.verify_tip{text-align: center;color:#888;}
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently not supported by any browser */
}